/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/header
 * ---
 */
/**
 * partials/footer
 * ---
 */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ---------------------------------------------- */
  /* Media Queries                                  */
  /* ---------------------------------------------- */
}
.homepage #big-video {
  display: unset;
}
.homepage .boxed {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.homepage .intro {
  width: 30rem;
  height: 26rem;
  bottom: 2rem;
  color: #ebbc4e;
  text-align: center;
}
.homepage .intro-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 2rem;
  height: 120px;
}
.homepage .logo {
  width: 150px;
}
.homepage .icon-box {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage .icon-size {
  height: 3rem;
}
.homepage .video-still {
  display: none;
}
.homepage .placeholder {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage .placeholder:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}
@media only screen and (min-width: 576px) {
  .homepage .intro {
    width: 40rem;
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Noto", sans-serif;
    color: #ebbc4e;
    position: relative;
    bottom: 11rem;
  }
  .homepage .logo {
    width: 220px;
  }
  .homepage .intro-headers h1 {
    font-size: 3.5rem;
  }
  .homepage .intro-headers h2 {
    font-size: 2.5rem;
  }
  .homepage .icon-box {
    position: relative;
    bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .homepage {
    background-color: black;
    height: 100vh;
  }
  .homepage #big-video {
    overflow: hidden;
  }
  .homepage .boxed {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .homepage .mov {
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
    max-height: 100vh;
  }
  .homepage .mov:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .homepage .video-still {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .homepage .intro {
    width: 50rem;
    height: 50rem;
    display: flex;
    bottom: 2rem;
  }
  .homepage .logo {
    width: 23rem;
  }
  .homepage .intro-headers {
    height: 50rem;
  }
  .homepage h1 {
    font-size: 4rem;
  }
  .homepage h2 {
    font-size: 2.5rem;
  }
  .homepage .icon-box {
    bottom: 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
