#big-video {
  display: unset;
}
.video-still {
  display: none;
}
.placeholder {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeholder:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}

/* ---------------------------------------------- */
/* Media Queries                                  */
/* ---------------------------------------------- */
@media only screen and (min-width: 768px) {
  #big-video {
    overflow: hidden;
    background: yellow;
  }
  .boxed {
    border: 3px solid mediumspringgreen;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .mov {
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
    max-height: 100vh;
  }
  .video-still {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 3px solid tomato;
  }
}