/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
$font-main: 'Noto', sans-serif;
$font-size: 1.6rem;
/**
 * Colors
 */
$white: #fdf8e1;
$black: #2c2c2c;
$blue: #5da3b2;
$yellow: #ebbc4e;



/**
 * Grid
 */
